/* 网页顶部导航栏 */
/* Navbar主体 */
#navbar-main {
    background-color: #003F88; 
}

/* Logo名称 */
#navbar-name {
    color: white;
}
/* 手机屏幕场景 */
@media (max-width: 768px) {
    .navbar-brand {
        margin-left: 0px !important;
    }
    #navbar-name {
        margin-left: 0px;
    }
}

/* Navbar选项 */
.nav-link {
    color: white;
}
.nav-link.active {
    color: #b8a0eb;
}

/* 手机上的Navbar折叠按钮 */
.navbar-toggler {
    border: none;
    background: transparent;
    outline: none;
}
.fas{
    color: white;
}

/* 网页底部Footer */
/* Bottom to Top按钮 */
#bottom-to-top-id {
    background-color: white;
    border: none;
    font-size: larger;
}

/* 主页Home */
/* 背景图片 */
#background-id {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/background/background.jpg'); 
    padding: 80px 10px 80px 10px;
    background-size: cover; 
    background-attachment: fixed;
    background-repeat: no-repeat; 
    background-position: center center;
    max-width: 100%;
    height: 100%;
    opacity: 1;
}
/* 标题 */
#background-title-id {
    color: white; 
    text-align: center;
}
/* 内容 */
#background-content-id {
    color: white; 
    text-align: justify; 
    padding: 0px 30px 0px 30px;
}

/* People页 */
/* 成员照片 */
.portrait {
    width: 150px; 
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}
.portrait-container {
    text-align: center;
}
/* 成员信息 */
.portrait-title {
    text-align: center;
}
.portrait-title .grid-item h2 {
    font-size:1.75em;
    font-weight:300;
    color:#000000;
    margin:20px 0px 10px 0px;
}
.portrait-title .grid-item h3 {
    font-size:1rem;
    font-weight:300;
    color:rgba(0,0,0,0.54);
    margin:0px 0px 0px 0px;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 6em 2em 2em;
    gap: 5px;
}

/* Publication页 */
/* 筛选框 */
.input-group-text .form-control {
    height: 2.25rem; 
    padding: 0.375rem 0.75rem; 
    line-height: 1.5;
}
/* Publications的基本资料 */
.publication-content {
    font-size: larger;
}
/* Publications的内容宽度 */
#container-publications {
    text-align: justify;
    padding: 0em 10em 0em 10em;
}

/* Projects */
/* 文章内容 */
.article-content {
    padding: 0em 5em 0em 5em;
}
